body, html {
    height: 100%;
}

.login-card
{
    color: white;
    background: white;
    height: 294px;
    width:352px;
}
.md-tab.md-active
{
    background-color: white;
}
md-tabs .md-tab
{
    background-color: #ebebeb;
    color: #9fa2a4;
}