@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
	font-family: 'Roboto-Thin';
	src: url('../fonts/roboto/Roboto-Thin.ttf');
}

@font-face {
	font-family: 'Opensans';
	src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Opensans-Semibold';
	src: url('../fonts/open-sans/OpenSans-Semibold.ttf');
}

body, html {
	height: 100%;
}

body {
	background: #3D1C22;
	overflow: hidden;
}

input {
	font-family: 'Opensans';
	font-size: 16px;
}

a {
	font-family: 'Opensans';
	text-decoration: none;
	font-size: 12px;
	color: #9fa2a4;
}


md-tab-item > span, button > span {
	font-family: 'Opensans-Semibold';
	font-size: 14px;
	letter-spacing: 0.4px;
}

.login-card {
	color: white;
	background: white;
	width: 400px;
}

.md-tab.md-active {
	background-color: white;
}

md-tabs .md-tab {
	background-color: #ebebeb;
	color: #9fa2a4;
}

.md-button {
	background: #e91e63;
	color: #ffffff;
	font-weight: bold;
}

.md-button:not([disabled]):hover {
	background: #e91e63;
}

.text-center {
	text-align: center;
}

md-ink-bar {
	display: none;
}

md-tabs[md-border-bottom] md-tabs-wrapper {
	border-style: none;
}

.forgot {
	position: absolute;
	margin-top: -66px;
	right: 13px;
	margin-right: 5px;
}

.page-header {
	position: absolute;
}

.page-header-text {
	padding-left: 35px;
	padding-top: 10px;
	font-family: 'Roboto-Thin';
	font-size: 29px;
}

.option-icon {
	fill: #ffffff;
	margin-left: 15px;
	margin-top: 20px;
}

.photo-icon {
	fill: #ffffff;
	position: absolute;
	margin-left: -22px;
	margin-top: -126px;
}

.text-white {
	color: #ffffff;
}

.text-theme {
	color: #e91e63;
}

.bottom-notification {
	width: 276px;
	background: #ffffff;
	font-family: 'Opensans';
	font-size: 11px !important;
	border-radius: 7px;
	padding: 5px 15px;
	text-align: justify;
}

.bottom-section {
	position: absolute;
	bottom: 2px;
	right: 0px;
}

.full-width {
	width: 100%;
	padding: 6px 6px;
	margin: 6px 0px;
}

.grey-header {
	text-align: center;
	background: #ebebeb;
	color: #000000;
	padding: 14px 0px;
	font-family: 'Opensans';
	font-size: 14px;
}

.avatar-right {
	margin-top: auto !important;
	margin-bottom: auto !important;
	margin-left: 5px;
	margin-right: 2px !important;
}

.button-bottom-text {
	font-family: 'Opensans';
	font-size: 12px;
	color: #9fa2a4;
	padding: 10px 0px;
}

.starbucks-header {
	font-size: 44px;
}

.starbuck-content {
	margin-top: 10px;
	font-size: 18px;
	line-height: 31px;
	width: 600px;
	text-align: center;
}

.dialog-top {
	color: #ffffff;
	font-family: 'Opensans-Semibold';
	font-size: 16px;
	letter-spacing: 0.2px;
	text-align: center;
	width: 100%;
	padding: 40px 0px;
	margin-top: 20px;
}

.custom-avatar {
	width: 131px;
	border-radius: 50%;
	margin: 34px 0px;
}

.shadow {
	width: 131px;
	height: 131px;
	border-radius: 50%;
	background: #000000;
	position: absolute;
	opacity: 0.5;
	margin-top: -169px;
	margin-left: 210px;
}

.username {
	font-family: 'Opensans';
	font-size: 30px;
	letter-spacing: 0.6px;
}

.circular-border {
	position: absolute;
	margin-top: -174px;
	margin-left: 206px;
	border: 2px;
}

.progress-container {
	position: relative;
	height: auto;
}

.dialog-pink {
	background: #E91E63;
	height: 100%;
}

.error {
	color: rgb(221, 44, 0);
	font-size: 11px;
	padding: 10px 0px;
}

#card-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	top: 0;
}

#card-container {
	margin-left: auto;
	margin-right: auto;
}

.card-item {
	width: 552px;
	height: 296px;
	background: #ffffff;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.remove-btn {
	background: #8C0935 !important;
}

.cards-list {
	overflow: auto;
	height: calc(100vh - 100px);
}

.hide {
	display: none;
}

.stamp-select {
	background: #e91e63 !important;
}

.reward-select {
	background: #ffc107 !important;
}

.action-performed {
	background: #8bc34a !important;
}

.reward-username {
	color: #3e3c3c;
}

.reward-icon {
	position: absolute;
	margin-left: -260px;
	margin-top: 14px;
}

.reward-color {
	fill: #ffc107;
}

.fill-white {
	fill: #ffffff;
}

::-webkit-scrollbar { 
	display: none !important; 
}

md-progress-circular .md-spinner-wrapper .md-inner .md-left .md-half-circle, md-progress-circular .md-spinner-wrapper .md-inner .md-right .md-half-circle {
	border-width: 4px;
}

md-progress-circular .md-spinner-wrapper .md-inner .md-gap {
	border-top-width: 4px;
}

md-progress-circular.md-default-theme .md-inner .md-gap, md-progress-circular .md-inner .md-gap {
	border-top-color: #B2B2B2;
	border-bottom-color: #B2B2B2;
}

md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-left .md-half-circle {
	border-left-color: #B2B2B2;
}

md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-left .md-half-circle, md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {
	border-top-color: #B2B2B2;
}

md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {
	border-right-color: #B2B2B2;
}

md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-left .md-half-circle, md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {
	border-top-color: #B2B2B2;
}