<div class="no-background dialog-top">
	Tap again to give stamp (Double tap to give stamp without selecting)
</div>
<div class="text-center dialog-pink">
	<div>
		<img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg?0" class="custom-avatar" />
		<div class="shadow"></div>
		<div layout="row" layout-sm="column" layout-align="space-around">
			<md-progress-circular md-mode="determinate" value="{{userProgress}}" md-diameter="120px" class="circular-border"></md-progress-circular>
		</div>
		<ng-md-icon icon="local_cafe" size="48" class="photo-icon"></ng-md-icon>
	</div>
	<div class="username">
		Gerald Woods
	</div>
</div>