<div layout="row" class="page-header">
	<ng-md-icon icon="menu" class="option-icon"></ng-md-icon>
	<div class="page-header-text">
		<span class="text-white">stamper</span>
		<span class="text-theme">manager</span>
	</div>
</div>
<div layout="column" layout-align="center center" style="height:100%">
	<div class="login-card">
		<div class="grey-header">
			Don’t worry. It happens to the best of us.
		</div>
		<md-progress-linear md-mode="indeterminate" ng-if="showLoader"></md-progress-linear>
		<md-content class="md-padding">
			<form name="forgotPasswordForm" novalidate>
				<md-input-container md-no-float class="md-block">
					<input ng-model="passwordData.email" name="email" type="email" placeholder="Email" required>
					<div ng-messages="forgotPasswordForm.email.$error">
						<div ng-message="required" class="error">
							Email is required
						</div>
						<div ng-message="email" class="error">
							Enter valid email
						</div>
					</div>
				</md-input-container>
				<div class="text-center">
					<span ng-if="serverMessage" class="error">{{ serverMessage }}</span>
					<md-button ng-click="doRequestNewPassword()" class="full-width">RECOVER PASSWORD</md-button>
					<p class="button-bottom-text">Go back and <a ui-sref="login">Sign In</a></p>
				</div>
			</form>
		</md-content>
	</div>
</div>
<div class="bottom-section">
	<md-list-item layout="row" layout-align="center center" class="md-3-line">
		<div class="md-list-item-text">
			<p class="bottom-notification">Hey, welcome to Stampr Manager, you can contact us here when ever you need support, guidence or just want to leave us some feedback on the product.</p>
		</div>
		<img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg?0" class="md-avatar avatar-right" />
	</md-list-item>
</div>