<div layout="row" class="page-header">
	<ng-md-icon icon="menu" class="option-icon"></ng-md-icon>
	<div class="page-header-text">
		<span class="text-white">stamper</span>
		<span class="text-theme">manager</span>
	</div>
</div>
<div layout="column" layout-align="center center" class="text-white" style="height:100%">
	<p class="starbucks-header">God morgon, Starbucks!</p>
	<P class="starbuck-content">“A smile transfers energy, remember to smile to show your appriciation to your customers. It will give back energy to yourself.”</p>
</div>
<div class="bottom-section">
	<md-list-item class="md-3-line">
		<div class="md-list-item-text">
			<p class="bottom-notification">Hey, welcome to Stampr Manager, you can contact us here when ever you need support, guidence or just want to leave us some feedback on the product.</p>
		</div>
		<img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg?0" class="md-avatar avatar-right" />
	</md-list-item>
</div>

<div id="card-overlay" class="text-center hide">
	<div id="card-container">
		<div class="dialog-top">
			Tap a card to select the user
		</div>
		<div class="cards-list">
			<div ng-repeat="card in cards" ng-if="cards.length" class="card-item" id="{{card.request_id}}" ng-click="card.singleClickAction || selectCard($index)" ng-dblClick="doubleClickAction || performAction($index)"
			ng-blur="deselectCard(card.request_id, $index)">
				<!-- <ng-md-icon icon="local_bar" class="reward-icon" size="30"></ng-md-icon> -->
				<div>
					<img src="{{card.image}}" class="custom-avatar" ng-cloak/>
					<div class="progress-container">
						<md-progress-circular md-mode="determinate" value="{{card.stamps}}" md-diameter="140px" class="circular-border"></md-progress-circular>
					</div>
					<div ng-if="card.imageShadow" class="shadow"></div>
					<ng-md-icon ng-if="card.imageIcon" icon="{{card.imageIconName}}" class="photo-icon" size="48"></ng-md-icon>
				</div>
				<div class="username">
					{{ card.name }}
				</div>
				<md-button ng-click="removeCardAt($index)" class="full-width remove-btn">REMOVE CARD</md-button>
			</div>
		</div>
	</div>
</div>