<div layout="row" class="page-header">
	<ng-md-icon icon="menu" class="option-icon" ng-click="showDialog()"></ng-md-icon>
	<div class="page-header-text">
		<span class="text-white">stamper</span>
		<span class="text-theme">manager</span>
	</div>
</div>
<div layout="column" layout-align="center center" class="text-white" style="height:100%">
	<p class="starbucks-header">God morgon, Starbucks!</p>
	<P class="starbuck-content">“A smile transfers energy, remember to smile to show your appriciation to your customers. It will give back energy to yourself.”</p>
</div>
<div class="bottom-section">
	<md-list-item class="md-3-line">
		<div class="md-list-item-text">
			<p class="bottom-notification">Hey, welcome to Stampr Manager, you can contact us here when ever you need support, guidence or just want to leave us some feedback on the product.</p>
		</div>
		<img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg?0" class="md-avatar avatar-right" />
	</md-list-item>
</div>